@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  background-color: #2a2c3b;
  font-family: "Lato", sans-serif;
}

.text-center {
  display: flex;
  justify-content: center;
}

.login-content {
  max-width: 450px;
  width: 100%;
  height: 550px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -286px;
  border-radius: 8px;
  background: #2f3242;
}

.login-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

.logo {
  width: 128px;
  height: 128px;
  margin: 5px;
}

.text-logo {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.form-control {
  width: 80%;
  margin: 0 auto;
  height: 3rem;
  position: relative;
  border-radius: 5px;
  background-color: #ccffee;
}

.btn {
  font-size: 22px;
  background-color: #0278ae;
  border: none;
  width: 80%;
  margin: 0 auto;
  height: 3rem;
  border-radius: 5px;
}

.btn:hover {
  background-color: blue;
}

.nomember {
  background-color: #e4dede;
  padding: 10px;
  padding-top: 20px;
  border-radius: 0px 0px 5px 5px;
  color: white;
  background: #2f3242;
}

.nomember a {
  text-decoration: none;
  color: rgb(158, 163, 240);
}

.forgot {
  position: relative;
}

.forgot a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(158, 163, 240);
}

.copyright {
  color: white;
  padding: 15px;
}

/*support google chrome*/
.form-control::-webkit-input-placeholder {
  color: #00000036;
}

/*support mozilla*/
.form-control:-moz-input-placeholder {
  color: red;
}

/*support internet explorer*/
.form-control:-ms-input-placeholder {
  color: red;
}
